<br>
<br>
<br>
<div class="row text-center">
	<div class="col">
		<h3>Da-Burger!</h3>
	</div>
</div>
<div class="row text-center">
	<div class="col-sm-6 col-12">
		<h4>Made Burgers</h4>

		<ol class="list-group">
			{{#each burgers}}
			{{#unless devoured}}
			{{> burgers/burger-block devour=true}}
			{{/unless}}
			{{/each}}
		</ol>
	</div>

	<div class="col-sm-6 col-12">
		<h4>Devoured Burgers</h4>

		<ul class="list-group">
			{{#each burgers}}
			{{#if devoured}}
			{{> burgers/burger-block devour=false}}
			{{/if}}
			{{/each}}
		</ul>
	</div>
</div>


<div class="row justify-content-center text-center">
	<div class="col-sm-6 col-12">
		<h3>Add a Burger</h3>
		<form class="create-form">

			<div class="form-group">
				<label for="bu">
					<h6>Burger Name:</h6>
				</label>
				<input type="text" id="bu" name="name">
			</div>
			<button class="btn btn-outline-danger btn-sm" type="submit">Add Burger</button>
		</form>
	</div>
</div>