<li class="list-group-item list-group-item-warning">
	{{name}}

	<button class="btn btn-outline-danger btn-sm change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devour it!{{else}}Remake this burger!{{/if}}
	</button>

</li>