<li>
	{{name}}

	<button class="change-devour waves-effect waves-light btn hoverable" data-id="{{id}}" data-newdevour="{{devour}}" style="margin-left: 1em; background-color: rgb(126, 2, 2)">
		{{#if devour}}Devour it!{{else}}Remake this burger!{{/if}}
	</button>

</li>